.Hotmovie_title {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
}

.Movie_list {
    width: 800px;
    display: flex;
    flex-direction: row;
}